.emoji-picker{
display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.emoji{
font-size: 40px;
  padding: 12px 20px;
  background: #ffffff;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  border-style: solid;
}
