
.container{
    background-color: bisque;
}.header{
    text-align: center;
    color: maroon;
}
.min-h-screen{
    min-height: 100vh;
}
.w-full{
    width: 100%;
}
.absolute{
position: absolute;
}
.relative{
    position: relative;
}
.inset-0{
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.z-0{
    z-index:0;

}
.app-container{
    z-index: 10;
}
.description{
    text-align: center;
    color: black;
    
}
.emoji-container{
  font-size: 70px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  margin-top: 30px;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 20px;
  
  
}
.emoji-picker{
display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.emoji{
font-size: 40px;
  padding: 12px 20px;
  background: #ffffff;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  border-style: solid;
}
