
.container{
    background-color: bisque;
}.header{
    text-align: center;
}
.min-h-screen{
    min-height: 100vh;
}
.w-full{
    width: 100%;
}
.absolute{
position: absolute;
}
.relative{
    position: relative;
}
.inset-0{
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.z-0{
    z-index:0;

}
.app-container{
    z-index: 10;
}
